.userProfilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.4));
}

.imageBackground {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.4));
}


.hiMessageAndSetLocation {
    margin-bottom: 45px;
}
