.tourGuideForm {
}

.tourGuideForm > h1 {
  text-align: center;
  margin-top: 30px;
}

.tourGuideForm > form {
  padding: 30px;
}

.tourGuideForm > form > input {
  margin-bottom: 10px;
}



.tourGuideForm input{
  padding: 15px;
  width: 100%;
  margin-top: 7px;
  border-radius: 10px;
  border: 1px solid #f78383;
  font-size: 1.1rem;
  font-weight: 600;
  color: #7c7a7a;
}
.tourGuideForm input::placeholder{
  font-weight: normal;
  font-size: 16px;
}
.tourGuideForm input:active {
  border: 1px solid #f78383;
}

.tourGuideForm label {
  color: gray;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 2px;
}

.designTour__days {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.tourGuideForm > form > p {
  color: red;
  font-size: 0.8rem;
  margin-left: 5px;
}

.tourGuideForm > button {
  width: 80%;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #f78383;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  bottom: 17%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
