@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.landingPageWrapper{
    background-image: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.overlayBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.signInAction{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#appName{
    font-family: 'Architects Daughter';
    letter-spacing: 1px;
    font-size: 20px;
}